/* Movie container */
.movie {
    width: 250px;
    margin: 1rem;
    border-radius: 5px;
    background-color: #203e1c;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #54a757;
}

.movie img{
    width: 250px;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
}

.movie-info span{
    background-color: #2a4b22;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-weight: bold;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.6s;
    text-align: center;
}

.movie:hover .overview{
    transform:translateY(0)
}

/* Read more button */
.more{
    background-color: orange;
    color:white;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 5px;
    cursor: pointer;
}

/* Pagination */
.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight: 600;
}

.prev_page, .next_page{
    padding:20px;
    cursor:pointer;
}

.first_page {
    padding: 20px 0 20px 0;
    cursor: pointer;
}

.current_page{
    padding: 10px 15px;
    border-radius: 10px;
    border: 5px solid orange;
    font-size: 20px;
    color: orange;
}

/* My favourite - localStorage */
.heart-icon {
    padding-top: 10px;
    padding-left: 20px;
    color: grey;
    font-size: 25px;
}

.heart-icon:hover {
    cursor: pointer;
}

.red_heart {
    color:red !important;
}

.my_favourite {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.print-fav {
    display: flex;
    border: 2px solid #003b0f;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: orange;
    cursor: pointer;
}

.print-fav:hover {
    background-color: #003b0f;
    color: white;
}

.close_favourite {
    background-color: red;
    cursor: pointer;
    border-radius: 10px;
    border:none;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
}

.favourite_box {
    display: block;
    text-align: center;
}