/* Categories */
#categories, #lists{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#categories {
    height: 45px;
    overflow: hidden;
}

.show_more_categories {
    height: auto !important;
}

.category, .lists_btn{
    color:white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}

.category {
    color:#003b0f;
    background: radial-gradient(#ffcc00, orange);
}

.category:hover {
    background: radial-gradient(green, #005700);
    color: white;
}

/*Highlight buttons*/
.highlight{
    /* background-color: red !important; */
    background: radial-gradient(#ff6600, red);
    color: white;
}

/* Clearing button */
.hide {
    display: none;
}

#clear_btn {
    color:white;
    padding: 10px 20px;
    background: radial-gradient(orangered, red);
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.clear_categories {
    display: block;
    text-align: center;
}

.no_results {
    color: white;
    padding: 20px;
}

/* Sort categories text */
.sort_categories {
    background-color: #01791f;
    text-align: center;
    color: white;
    margin: 20px 20px 0 20px;
    padding: 5px;
    font-family: 'Caveat', cursive;
    font-size: 25px;
  }
