.carousel {
    width: 87.5%;
    overflow: hidden;
    display: block;
    margin: auto;
    scroll-behavior: smooth;
}

.carousel_box {
  display: flex;
  padding-left: 0;
  margin: 0;
  position: relative;
  transition: 10s;
}

.carousel_item {
  padding: 10px;
}

.carousel_img {
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 10px 0px #54a757;
}

.carousel_item:hover .carousel_img {
  opacity: 30%;
}

.btn_prev, .btn_next {
    position: absolute;
    top: 40%;
    z-index: 100;
    color: rgb(84, 167, 87);
    font-size: 40px;
    user-select: none;
}

.btn_next {
    right: 60px;
}

.btn_prev {
    left: 60px;
}

.btn_prev:hover, .btn_next:hover {
    color: white;
    cursor: pointer;
}

.lists_btn {
    background-color: #1b3c1b !important;
}

.lists_btn_active {
    background-color: green !important;
}

.carousel_hidden_context {
  position: absolute;
  top: 40%;
  color: white;
  transform: translateX(50%);
  background-color: rgb(17, 83, 23);
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  z-index: 1;
  display: none;
  white-space: nowrap;
}

.carousel_item:hover .carousel_hidden_context{
  cursor: pointer;
  display: block;
}

.carousel_hidden_context:hover {
background-color: green;
}